@import "tailwindcss";

@plugin "tailwindcss-animate";
html {
    scroll-behavior: smooth;
  }
  html, body {
    overflow-x: hidden;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .animate-scroll {
    display: inline-block;
    animation: scroll 30s linear infinite; /* Slower scroll */
    padding-right: 4rem; /* Space between repeats */
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 0.5s ease-out forwards;
  }